<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>online_voting_system</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>onlineVotingSystem.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoiginServlet</display-name>
    <servlet-name>LoiginServlet</servlet-name>
    <servlet-class>LoiginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoiginServlet</servlet-name>
    <url-pattern>/LoiginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminlogin</display-name>
    <servlet-name>adminlogin</servlet-name>
    <servlet-class>adminlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminlogin</servlet-name>
    <url-pattern>/adminlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminLogin</display-name>
    <servlet-name>adminLogin</servlet-name>
    <servlet-class>adminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminLogin</servlet-name>
    <url-pattern>/adminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>voterLogin</display-name>
    <servlet-name>voterLogin</servlet-name>
    <servlet-class>voterLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>voterLogin</servlet-name>
    <url-pattern>/voterLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>register</display-name>
    <servlet-name>register</servlet-name>
    <servlet-class>register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterUser</display-name>
    <servlet-name>RegisterUser</servlet-name>
    <servlet-class>RegisterUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUser</servlet-name>
    <url-pattern>/RegisterUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>vote</display-name>
    <servlet-name>vote</servlet-name>
    <servlet-class>vote</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>vote</servlet-name>
    <url-pattern>/vote</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>contact</display-name>
    <servlet-name>contact</servlet-name>
    <servlet-class>contact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>contact</servlet-name>
    <url-pattern>/contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminregister</display-name>
    <servlet-name>adminregister</servlet-name>
    <servlet-class>adminregister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminregister</servlet-name>
    <url-pattern>/adminregister</url-pattern>
  </servlet-mapping>
</web-app>